---
import Layout from "../layouts/Layout.astro";
import NameCard from "../components/NameCard.astro";
---

<Layout>
    <div class="flex-col-center full-height">
        <div class="flex-row-center">
            <NameCard
                name="Seongtaek Lim"
                src="/assets/images/profile/profile-temp.jpg"
            />
        </div>
    </div>
</Layout>
