---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const photography = await getCollection("photography");
console.log(photography);
---

<Layout>
    <div class="flex-col-center page">
        <h2>Photography</h2>
        <div class="page-content">
            <div class="">
                {
                    photography.map((item: any) => {
                        return (
                            <div class="list-item">
                                <dif class="list-card project-card">
                                    <p class="title-case" set:html={item.data.title} />
                                </dif>
                            </div>
                        );
                    })
                }
            </div>
        </div>
    </div>
</Layout>

<style>
    .publication-card {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        padding-left: 0.5rem;
        padding-right: 1rem;
    }
    .publication-card p {
        line-height: 1.5rem;
        text-indent: 1rem;
    }
    :global(span.me) {
        font-weight: 700;
    }
    @media (max-width: 1080px) {
        .list-card.publication-card {
            width: unset;
        }
    }
</style>
