---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const photography = await getCollection("photography");
  const paths = Object.values(photography).map((category) => {
    // console.log(category);
    return {
      params: {
        photos: category.id,
      },
      props: {
        category,
      },
    };
  });
  // console.log(paths);
  return paths;
}
const { category } = Astro.props;
console.log(category);
---

<Layout>
  <div class="flex-col-center page">
    <h2>Photography</h2>
    <div class="page-content">
      <div class="">
        {category.data.title}
        {category.data.description}
      </div>
    </div>
  </div>
</Layout>

<style>
  /* .photography-card {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 1rem;
  } */
  /* .photography-card p {
    line-height: 1.5rem;
    text-indent: 1rem;
  } */
  /* @media (max-width: 1080px) {
    .list-card.publication-card {
      width: unset;
    }
  } */
</style>
